{% extends 'base.html' %}
{% load staticfiles %}
{% block App %}
    <section id="home-matches" class="container-fluid owl-carousel">
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
        <div class="match-board item">
            <div class="match-board-title">
                <img src="{% static 'img/icons/uefa-europa-league.png' %}" title="league logo"/>
            </div>
            <div class="match-board-body">
                <div class="teams">
                    <img src="{% static 'img/icons/juventus.png' %}" title="Home Team"/>
                    <img src="{% static 'img/icons/barcelona.png' %}" title="Away Team"/>
                </div>
                <div class="match-date">
                    <p>12:00</p>
                    <p>23 Apr. 2019</p>
                </div>
            </div>
            <div class="match-board-footer">
                <div class="team-names">
                    <p>Juventus</p>
                    <p>Barcelona</p>
                </div>
                <div class="match-score">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
            <div class="match-detail-btn">
                <a href="#">
                    Detail
                </a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row main-side">
            <main class="col-md-8">
                <div class="index-base">
                    <div class="top-matches-list">
                        <ul>
                            <li class="top-matches-list-item row">
                                <div class="match-tournament col-1">
                                    <img src="{% static 'img/icons/turkey.png' %}"/>
                                </div>
                                <div class="match-hours col-1">
                                    <span>12:00</span>
                                    <span>29 Apr.</span>
                                </div>
                                <div class="match-teams col-1">
                                    <img src="{% static 'img/icons/juventus.png' %}"/>
                                    <img src="{% static 'img/icons/barcelona.png' %}"/>
                                </div>
                                <div class="match-team-names col-2">
                                        <span>Juventus</span>
                                        <span>Barcelona</span>
                                </div>
                                <div class="match-stadium col-2" >
                                    <img src="{% static 'img/icons/stadium.png' %}" />
                                    <span class="stadium-name">Nou Camp</span>
                                </div>
                                <div class="match-referee col-2">
                                    <img src="{% static 'img/icons/whistle.png' %}">
                                    <span class="referee-name">Hakem İsmi</span>
                                </div>
                                <div class="weather col-1">
                                    <img src="{% static 'img/icons/weather/storm.png' %}">
                                </div>
                                <div class="details col-1">
                                    <a href="#">
                                        <img src="{% static 'img/icons/analytics.png' %}" />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </main>
            <aside class="col-md-4">
                <div class="side-bar">
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                    <a href="#"><img src="{% static 'img/icons/barcelona.png' %}" title="Team"/><span>6.79</span></a>
                </div>
            </aside>
        </div>
    </section>
{% endblock %}
{% block scripts %}
{% endblock %}
