{% load staticfiles %}
<!doctype html>
<html lang="tr" style="scroll-behavior: smooth" xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns:>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <title>Antalya Vakfı</title>

    <link rel="shorcut icon" href="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-min.css' %}" >
</head>
<body>
</body>