#home-matches {
  font-family: 'Poppins', sans-serif;
  margin: 5px 0;
  display: flex;

  .match-board {
    margin: 5px;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px lighten(#333, 50%);

    .match-status {
      width: 35px;
      font-size: 16px;
      padding: 5px 0 10px 10px;
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 35px;
    }

    .match-board-title {
      display: flex;
      justify-content: center;
      padding: 5px 0;

      img {
        width: 20px;
      }
    }

    .match-board-body {
      display: flex;
      justify-content: space-between;
      padding: 5px;

      .teams {
        display: inline-flex;
        min-width: 65px;

        img {
          width: 30px;
          height: 30px;
          padding: 5px;
          border: 1px solid grey;
          border-radius: 50%;

          &:last-child {
            margin-left: -5px;
            background-color: white;
          }
        }
      }

      .match-date {
        display: flex;
        flex-direction: column;
        text-align: right;

        p {
          font-weight: 400;
          font-size: 12px;

          &:first-child {
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
    }

    .match-board-footer {
      display: flex;
      justify-content: center;
      font-size: small;

      .match-score {
        p {
          &::before {
            content: ":";
            margin-right: 5px;
          }
        }
      }

      .team-names,
      .match-score {
        margin: 5px;

        p {
          font-weight: 400;

          &:first-child {
            font-weight: 600;
          }
        }
      }
    }

    .match-detail-btn {
      text-align: center;

      a {
        display: block;
        background-color: green;
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          background-color: lighten(green, 10%);
          text-shadow: 0 0 5px #333;
        }
      }
    }
  }
}

.main-side {
  .index-base,
  .side-bar {
    box-shadow: 0 0 5px 1px lighten(#333, 50%);
    border-radius: 5px;
    padding: 10px;
  }

  .index-base {
    .top-matches-list {
      ul {
        .top-matches-list-item {
          margin: 15px 0;
          padding: 5px 0;

          &:nth-child(even) {
            background-color: lighten(lightslategrey, 25%);
          }

          .match-tournament {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 36px;
              height: 36px;
            }
          }

          .match-hours {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;

            span {
              font-size: 12px;

              &:first-child {
                font-size: 14px;
                font-weight: 700;
              }
            }
          }

          .match-teams {
            display: inline-flex;
            min-width: 65px;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              padding: 5px;
              background-color: white;
              border: 1px solid grey;
              border-radius: 50%;

              &:last-child {
                margin-left: -5px;
              }
            }
          }

          .match-team-names {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;

            span {
              &:first-child {
                font-weight: 700;
              }
            }
          }

          .match-stadium,
          .match-referee {
            display: flex;
            align-items: center;

            img {
              width: 25px;
              height: 25px;
            }

            span {
              margin-left: 5px;
              font-size: 14px;
            }
          }

          .weather {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 35px;
              height: 35px;
            }
          }

          .details {
            display: flex;
            align-items: center;

            a {
              img {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }

    .today-teams {
      margin: 10px 0;
      display: flex;

      button {
        position: relative;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;

        &:nth-child(1){
          text-align: left;
        }
        &:nth-child(2) {
          img {
            margin: 0 auto;
          }
        }

        &:nth-child(3) {
          text-align: right;
          display: flex;
          justify-content: flex-end;
          .league-flag{
            right: 0px;
          }
        }

        img {
          width: 45px;
          margin: 5px;
        }

        @media (max-width: 480px) {
          img {
            width: 30px;
          }
          font-size: 12px;
        }

        .league-flag {
          position: absolute;
          width: 15px;
          bottom: 0;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
          border-radius: 100%;
        }

        @media (max-width: 480px) {
          .league-flag {
            width: 10px;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
          }

        }
      }
    }

    .today-team-stats {
      width: 100%;

      .today-team-stats-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .detail-home,
        .detail-away,
        .detail-middle {
          display: flex;
          flex-direction: column;
        }

        .detail-middle {
          span {
            margin: 0 10px;
          }
        }
      }
    }
  }

  .side-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      flex: 1 0 25%;
      margin: 5px;
      height: auto;
      max-width: 75px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition: all .5s ease;

      span {
        color: orangered;
        font-weight: 600;
        margin: auto;
      }

      &:hover {
        transform: scale(1.1);
      }

      img {
      }
    }
  }
}